<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>m_a04_0007_0006.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>m_a03_0007_0000.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>m_a03_0007_0001.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>m_a03_0007_0002.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>m_a03_0007_0003.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>m_a03_0007_0004.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>m_a03_0007_0005.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>m_a03_0007_0006.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>m_a02_0007_0001.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>m_a02_0007_0002.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>m_a02_0007_0003.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>m_a02_0007_0004.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>m_a02_0007_0005.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>m_a02_0007_0006.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>m_a01_0007_0001.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>333</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>m_a01_0007_0002.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>m_a01_0007_0003.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>m_a01_0007_0004.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>m_a01_0007_0005.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>m_a01_0007_0006.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>m_00071.png</string>
			<key>realTextureFileName</key>
			<string>m_00071.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>